$body-background-color: #24273a; //base
$body-heading-color: #b7bdf8; //lavender
$body-text-color: #cad3f5; //text
$link-color: #8bd5ca; //teal
$nav-child-link-color: #1e2030; //mantle
$sidebar-color: #6e738d; //overlay 0
$base-button-color: #24273a; //base
$btn-primary-color: #c6a0f6; //mauve
$code-background-color: #1e2030; //mantle
$feedback-color: #363a4f; //surface 0
$table-background-color: $white !default;
$search-background-color: $white !default;
$search-result-preview-color: $grey-dk-000 !default;
